body {
  margin: 0;
  font-family: 'Segoe UI', Verdana, sans-serif;
}

table {
  width: 100%;
  text-align: center;
}

th {
  width: 25%;
  background: #ffff;
  color: #808080;
  padding: 10px;
  border: 1px #000000 solid;
  border-radius: 1px;
}

td {
  width: 25%;
  padding: 10px;
  border: 1px #000000 solid;
  border-radius: 1px;
}

/*
  NOTE: Width is 25% because we have 4 columns
  You can set according to the number of columns
*/